# these need to be always there (for login)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# since you send the webhook to a single worker, this only needs to be there for that worker
GITHUB_WEBHOOK_SECRET=
GITHUB_PAT=
# use `npx wrangler secret put GITHUB_CLIENT_XXX` to put the secrets