name = "sponsorflare"
main = "main.ts"
compatibility_date = "2025-01-25"
assets.directory = "./"
dev.port = 3000
routes = [
  { pattern = "sponsorflare.com", custom_domain = true },
  { pattern = "www.sponsorflare.com", custom_domain = true }
]

[vars]
GITHUB_REDIRECT_URI = "https://sponsorflare.com/callback"
LOGIN_REDIRECT_URI = "/"
COOKIE_DOMAIN_SHARING = "true"
ADMIN_OWNER_LOGIN = "janwilmake"

[[durable_objects.bindings]]
name = "SPONSOR_DO"
class_name = "SponsorDO"


[[migrations]]
tag = "v1"
new_classes = ["SponsorDO"]
